<header>
    <nav>
        <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link ">First index</a></li>
            <li class="nav-item"><a href="{{ url_for('year') }}" class="nav-link ">First index</a></li>
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link ">Second index</a></li>
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link ">Third index</a></li>
            <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link ">Fourth index</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>